/* @media(max-width: 900px){ */
.container{
  background-image: url(../images/crime.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  background-position: center center;
  z-index: 0;
}

.pegada{
position: absolute;
z-index: 1;
left: 380px;
bottom: 50px;
height: 30px;
}

.poça{
  position: absolute;
  z-index: 1;
  height: 30px;
  left: 650px;
  bottom: 230px;
}

.tecido{
  position: absolute;
  z-index: 1;
  height: 13px;
  left: 340px;
  bottom: 485px;
}

.cabeca{
  position: absolute;
  z-index: 1;
  height: 15px;
  left: 810px;
  bottom: 620px;
}
}