.container{
  background-image: url(../images/crime.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  background-position: center center;
  z-index: 0;
}

.pegada{
position: absolute;
z-index: 1;
left: 38%;
bottom: 12%;
height: 30px;
}

.poça{
  position: absolute;
  z-index: 1;
  height: 30px;
  left: 55%;
  bottom: 29%;
}

.tecido{
  position: absolute;
  z-index: 1;
  height: 13px;
  left: 28%;
  bottom: 72%;
}

.cabeca{
  position: absolute;
  z-index: 1;
  height: 15px;
  left: 68%;
  bottom: 87%;
}
