@media(max-width: 900px){
.container{
  background-image: url(../images/crime.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  background-position: center center;
  z-index: 0;
}

.pegada{
position: absolute;
z-index: 1;
left: 380px;
bottom: 50px;
height: 30px;
}

.poça{
  position: absolute;
  z-index: 1;
  height: 30px;
  left: 550px;
  bottom: 110px;
}

.tecido{
  position: absolute;
  z-index: 1;
  height: 13px;
  left: 230px;
  bottom: 290px;
}

.cabeca{
  position: absolute;
  z-index: 1;
  height: 15px;
  left: 560px;
  bottom: 380px;
}
}